@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 2000px) {
  html {
    font-size: 16px;
    --ratio: 1;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
    --ratio: 0.625;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 25.6px;
    --ratio: 1.6;
  }
}
@media (min-width: 3500px) {
  html {
    font-size: 40px;
    --ratio: 2.5;
  }
}
